*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #f4f4ec;
}

.nav-bar{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    background-color: #ffff;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-radius: 3px;
    height: 2.4rem;
    width: 2.4rem;
    margin-left: 4rem;
    margin-right: 0.4rem;
}

.logo:hover{
    background-color: rgb(167, 109, 0);
}

.logo a{
    color: #ffff;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}

.buscador input{
    display: inline-block;
    margin-left: 6px;
    padding: 0.5rem 0.5rem 0.5rem 34px;
    border-radius: 1rem;
    width: 15rem;
    border: 0.05rem solid rgba(101, 100, 100, 0.605);
}

.bi-search{
    position: absolute;
    left: 175px;
    transform: translateY(90%);
    width: 8px;
    height: 8px;
}

.nav-right-container, .nav-left-container{
    display: flex;
    align-items: center;
}


.items-container ul{
    display: inline-flex;
    align-items: baseline;
    padding: 1.2rem 0 1.2rem 1.2rem;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.items-container ul li{
    list-style: none;
    margin: 0.8rem;
}

.items-container a{
    text-decoration: none;
    color: orange;
    font-weight: 500;
    font-size: 14px;
    border-radius: 18px;
    padding:12px ;
}

.items-container a:hover{
    color: #ffff;
    background-color: orange;
    font-weight: 600;
    padding: 12px;
    border-radius: 18px;
}

.login-btn button{
    margin: 0 20px 0 10px;
    width: 13px;
    height: 13px;
    padding: 13px;
    border-radius: 50px;
    border: solid 2px orange;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../assets/profile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 13px ;
}

.login-btn button p{
    font-size: 10px;
    padding: 2px;
    margin-top: 14px;
}

.login-btn button:hover{
    border: solid 2px rgb(255, 255, 255);
    color: #ffff;
    cursor: pointer;
    filter: invert(100%);
}

.banner{
    width: 750px;
    height: 190px;
}

.banner img{
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    background-size: cover;
    background-position: top;
}

.edit-banner{
    display: flex;
    justify-content: center;
    width: 11px;
    height: 11px;
    background-color: #fff;
    color: orange;
    border: 1px solid rgba(199, 198, 198, 0.653);
    border-radius: 50px;
    padding: 11px ;
    position: absolute;
    z-index: 2;
    left: 765px;
    top: 104px;
    cursor: pointer;
}

.edit-banner i{
    align-self: center;
    font-size: 14.5px;
}

.edit-banner i:hover{
    color: rgb(210, 142, 16);
}

.card{
    border: 1px solid rgba(199, 198, 198, 0.653);
    border-radius: 10px;
    width: 750px;
    height:400px;
    margin: 25px 70px;
    background-color:#ffff;
    z-index: 0;
}

.about{
    width: 750px;
    height: 160px;
}

.about-img img{
    border: 4px solid #ffff;
    border-radius: 90px;
    margin: 35px 25px;
    width: 150px;
    height: 150px;
    z-index: 1;
    position: absolute;
    top: 125px;
    background-color: #fff;
    cursor: pointer;
}

.bi-pencil{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    width: 11px;
    height: 11px;
    padding: 14px;
    margin: 4px;
    left: 762px;
    position: absolute;
}

.bi-pencil:hover{
    background-color:rgba(227, 227, 227, 0.418);
}

.about-img img:hover{
    filter: contrast(200%);
}

.description{
    padding: 50px 0 10px 30px;
    display: grid;
    grid-template-columns: 6fr 3fr;
}

.description-box{
    display: flex;
    flex-direction: column;
}

.title-card{
    font-size: 26px;
    font-weight: 500;
    margin: 5px 0;
}

h1.title-card:hover{
    background-color: rgba(227, 227, 227, 0.418);
    border-radius: 10px;
    cursor: pointer;
}

.name-box{
    display: inline-flex;
    flex-direction: row;
}

.title{
    font-size: 16px;
    font-weight: 400;
    margin: 1px 0;
}

.info {
    font-size: 14px;
    font-weight: 500;
    margin: 4px 0;
    color: orange;
    cursor: pointer;
}

span{
    padding: 0 5px 5px 5px ;
}

.verification-insigne{
    width: 210px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px dashed orange;
    cursor: pointer;
    margin: 0 10px;
}

.bi-patch-check{
    color: orange;
    font-weight: 500;
}

.verification-insigne:hover, .verification-insigne i:hover{
    color:rgb(151, 101, 7);
    border-color: rgb(151, 101, 7);
    background-color: rgb(245, 217, 164);
}

.location{
    margin: 4px 0;
    color:rgb(116, 116, 116);
    font-size: 14px;
}

.current-work-studies{
    margin: 0 5px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}

.current-work-studies img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.current-box{
    display: flex;
    flex-direction: row;
    margin: 0 5px 5px 5px;
}

.current-box p{
    align-self: center;
    margin: 0 6px 6px 6px;
    padding: 0 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}

.current-box p:hover, .info:hover {
    color: orange;
    text-decoration: underline;
}

.about-btns{
    padding-left: 30px;
}

.about-btns button{
    margin: 0 5px 0 0;
    padding: 6px 8px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.interest{
    border: none;
    border: 2px solid orange;
    background-color: orange;
    color: #fff;
}

.add{
    background-color:#fff;
    border: 2px solid orange;
    color: orange;
}

.interest:hover{
    border-color:rgb(151, 101, 7) ;
    background-color: rgb(151, 101, 7);
}

.add:hover {
    background-color:  rgb(245, 217, 164);
    border: 2px solid rgb(151, 101, 7);
    color: rgb(151, 101, 7);
}

.box{
    display: flex;
    flex-direction: column;
    padding: 30px ;
}